.single-product {
    margin-top: 50px;
}

.single-card {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.single-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    overflow: hidden;
    text-transform: uppercase;
}

.single-price {
    margin-top: 20px;
    font-size: 25px !important;
}

.single-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.single-category {
    max-width: 400px;
    margin-top: 50px;
}

.single__img {
    max-width: 400px;
    width: 100%;
    background: red;
    height: 220px;
    img {
        width: 100%;
        height: 100%;
    }
}