.all-products {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px 0;
}

.all__product-card {
    max-width: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .all__product-img {
        overflow: hidden;
        width: 220px;
        height: 270px;
        border: 2px double black;
        padding: 5px;
        position: relative;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2 {
        width: 100%;
        height: 25px;
        font-family: var(--font);
        font-size: 16px;
        margin-top: 10px;
    }
    strong {
        width: 100%;
        font-size: 20px;
    }
}

.more-btn {
    border: none;
    background: aquamarine;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
    margin-bottom: 50px;
}

.all-products-text {
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
    cursor: pointer;
}

.all__products-div {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    button {
        border: none;
        background: none;
        font-size: 30px;
        cursor: pointer;
        color: #fff;
    }
}

.all-products-text:hover .all__products-div {
    position: relative;
    top: -60px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.747);
}